@import 'tailwindcss';

@theme {
    --font-display: 'Roboto', 'sant-serif';
}

@layer base {
    body {
        @apply text-sm;
    }

    td {
        @apply text-white/70 capitalize;
    }

    thead td {
        @apply text-white;
    }
    .container-custom {
        padding: 2rem;
        /* text-align: center; */
        max-width: 1000px;
        margin: 0 auto;
    }
}

@layer components {
    .btn {
        @apply flex items-center gap-2 rounded-md px-4 py-2;
    }

    .input {
        @apply rounded-md border border-slate-800 bg-transparent p-2 text-sm outline-none placeholder:text-white focus:border-slate-300;
    }

    .container {
        @apply max-w-[1000px];
    }
}

@layer utilities {
    .btn-red {
        @apply bg-rose-900 hover:bg-rose-800 disabled:bg-gray-400 disabled:hover:bg-gray-400;
    }

    .btn-green {
        @apply bg-green-600 hover:bg-green-800 disabled:bg-gray-400 disabled:hover:bg-gray-400;
    }
}
